.board {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 90px);
    gap: 1px;
    padding: 2px;
}

/* sm Settings */
@media (min-width: 428px) {
    .board {
        grid-template-columns: repeat(auto-fill, 90px);
        gap: 1px;
        padding: 1px;
    }
}

/* md Settings */
@media (min-width: 768px) {
    .board {
        grid-template-columns: repeat(auto-fill, 100px);
        gap: 8px;
        padding: 8px;
    }
}

/* lg - xl - 2xl */
@media (min-width: 1024px) {
    .board {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 10px;
        padding: 10px;
    }
}