/* Score Settings */
.scores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: auto auto;
}

/* Memory Game Settings */
.memoryGame {
    width: 90%;
    max-width: 90%;
    padding: 0rem;
    margin: 1rem auto;
    box-sizing: border-box;
    background-color: rgb(79, 79, 79);
    border-radius: 8px;
}

/* Footer Settings */
.footer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* sm Settings */
@media (max-width: 640px) {
    .scores {
        width: 98vw;
        margin-top: 0.5rem;
        gap: 0.25rem;
        flex-direction: column;
        align-items: center;
    }

    /* 1 Jugador - Ocupa el 98% del ancho */
    .players-1 .playerCard {
        width: 98vw;
    }

    /* 2 Jugadores - Ocupan 50% cada uno */
    .players-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4px;
        justify-content: center;
    }

    /* 3 o más jugadores - Se distribuyen en una grilla de 3 columnas */
    .players-3, .players-4, .players-5, .players-6 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4px;
        justify-content: center;
    }

    .memoryGame {
        width: 98%;
        max-width: 98%;
        background-color: transparent;
    }
}

/* md Settings */
@media (min-width: 768px) {
    .memoryGame {
        max-width: 90%;
        padding: 1rem;
    }
}

/* lg - xl - 2xl */
@media (min-width: 1024px) {
    .memoryGame {
        max-width: 90%;
        padding: 1rem;
    }
}