/* Score Settings */
.scores {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

/* Memory Game Settings */
.memoryGame {
    width: 90%;
    max-width: 90%;
    padding: 0rem;
    margin: 1rem auto;
    box-sizing: border-box;
    background-color: rgb(79, 79, 79);
    border-radius: 8px;
}

/* Footer Settings */
.footer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* sm Settings */
@media (min-width: 428px) {
    .memoryGame {
        width: 98%;
        max-width: 98%;
        padding: 0rem;
    }
}

/* md Settings */
@media (min-width: 768px) {
    .memoryGame {
        max-width: 90%;
        padding: 1rem;
    }
}

/* lg - xl - 2xl */
@media (min-width: 1024px) {
    .memoryGame {
        max-width: 90%;
        padding: 1rem;
    }
}